version: '3'

services:
  database:
    restart: always
    container_name: database
    image: mariadb
    ports:
      - "3306:3306"
    volumes:
      - ./data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_ROOT_HOST=%
      - TZ=Europe/Prague